#Calculator{
  border: 1px solid grey;
  width: 250px;
  border-radius: 5px;
}

#display{
  width: 88%;
  font-size: 45px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid gray;
  background-color: rgb(130, 0, 252);
}

.button_container{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 8px;
  flex-wrap: wrap;
  margin: 7px;
}

.btn{
  color: white;
  background-color: rgb(245, 107, 107);
  height:45px;
  width: 65px;
  border: none;
  border-radius: 10px;
  
}